# Auth0 Configuration
AUTH0_ISSUER_URL=https://YOUR_TENANT.auth0.com/
AUTH0_AUDIENCE=https://api.koblio.com
AUTH0_CLIENT_ID=YOUR_CLIENT_ID
AUTH0_ROLES_NAMESPACE=https://koblio.com/roles

# Server
PORT=3001
